# {{REPO.NAME}}

## Author
   * ### Author : {{AUTHOR.NAME}}
   * ###  Email : {{AUTHOR.EMAIL}}
   * ### Github : {{AUTHOR.GITHUB}}

### Project Informations
   * ###   Name : {{PROJECT.NAME}}
   * ###   Date : {{DATE}} 

## Description
   *{{REPO.DESCRIPTION}}*


## Content
  
  * ### {{REPO.DIR1}} :
    *{{REPO.DIR1.DESCRIPTION}}*

  * ### {{REPO.DIR1}} :
    *{{REPO.DIR1.DESCRIPTION}}*
